* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* .contact {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    background: none;
    border-color: #FD6E0A;
    padding: 19px 24px;
} */

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin: 50px 200px;
}

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}